table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th{
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #ddd;
}

.addButton{
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.addButton:hover{
    background-color: white;
    color: blue;
}